   <main class="page contact">

        <section class="form-section">
            <div class="container">
                <div class="head to_animate" data-animation="fadeInDown">
                    <h2 class="title">Get Instant Quote</h2>
                </div>

                <div class="form to_animate" data-animation="fadeInUp">
                    <form>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="form-group">
                                    <i class="fa fa-user"></i>
                                    <input class="form-control" type="text" placeholder="Full name">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="form-group">
                                    <i class="fa fa-mail-forward"></i>
                                    <input class="form-control" type="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="form-group">
                                    <i class="fa fa-phone"></i>
                                    <input class="form-control" type="text" placeholder="Phone Number">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="form-group">
                                    <i class="fa fa-clock-o"></i>
                                    <input class="form-control" type="date" data-placeholder="Date of Move" required>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="form-group">
                                    <i class="fa fa-map-marker"></i>
                                    <input class="form-control" type="text" placeholder="From">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="form-group">
                                    <i class="fa fa-map-marker"></i>
                                    <input class="form-control" type="text" placeholder="To">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <i class="fa fa-pencil"></i>
                                    <textarea class="form-control" rows="6" placeholder="Message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="btn-wrap">
                            <button class="btn">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <section class="info-section">
            <div class="container">
                <div class="flex-row">
                    <div class="item to_animate" data-animation="fadeInUp">
                        <span class="icon-wrap">
                            <i class="fa fa-map-marker"></i>
                        </span>
                        <p>
                            <strong>Our Location:</strong>
                            <span>South amboy, NJ, 08879</span>
                        </p>
                    </div>
                    <div class="item to_animate" data-animation="fadeInUp">
                        <span class="icon-wrap">
                            <i class="fa fa-clock-o"></i>
                        </span>
                        <p>
                            <strong>Office hours:</strong>
                            <span>8:00 AM - 8:00 PM</span>
                        </p>
                    </div>
                    <div class="item to_animate" data-animation="fadeInUp">
                        <span class="icon-wrap">
                            <i class="fa fa-phone"></i>
                        </span>
                        <p>
                            <strong>Call Us Today:</strong>
                            <span><a href="tel: 732 347 87 30">732 347 8730</a></span>
                        </p>
                    </div>
                </div>
            </div>
        </section>

    </main>
