@model InformationViewModel
<main class="page services">
    <div class="page-head">
        <h1 class="to_animate" data-animation="fadeIn">@Model.Title </h1>
    </div>

    <div class="container">
        <article class="article">
            <h1 class="title article-title to_animate" data-animation="fadeInUp">@Model.ShortDescription</h1>
            <div class="text to_animate" data-animation="fadeInUp">
                @Html.Raw(Model.Text)
            </div>
        </article>
    </div>
</main>