@model IEnumerable<TeamViewModel>

<main class="page usefull-tips">
    <div class="page-head">
        <h1 class="to_animate" data-animation="fadeIn">Team</h1>
    </div>

        <div class="list">
            <div class="container">
                <div class="row">
                    <div class="isotope-grid">
                        @foreach (var team in Model)
                        {
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="item to_animate" data-animation="fadeInUp">
                                    <figure>
                                        @if (team.ImageDataURL != null)
                                        {
                                            <img src="@team.ImageDataURL" alt=""/>
                                        }
                                        else
                                        {
                                            <img src="~/images/defualt-img.jpg" alt="" height="240"/>
                                        }
                                    </figure>
                                    <div>
                                        <h3 class="item-title">@team.Name</h3>
                                        <div class="text">
                                            <p>
                                                @team.ShortDescription
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
</main>