@model IEnumerable<TestimonialViewModel>

<main class="page testimonials">
    <div class="page-head">
        <h1 class="to_animate" data-animation="fadeIn">Testimonials</h1>
    </div>

    <div class="container">
        <div class="list">
            @foreach (var testimonial in Model)
            {
                <blockquote class="to_animate" data-animation="fadeInRight">
                    <span class="avatar">
                        <img src="@testimonial.ImageDataURL" alt="Lakisha Knaus">
                    </span>

                    <div>
                        <h4 class="author-name">@testimonial.Name</h4>
                        <span class="blockqoute-meta">@testimonial.Date</span>
                        <div class="blockqoute-content">
                            @testimonial.Text
                        </div>
                    </div>
                </blockquote>
            }
        </div>
    </div>
</main>
