@{
    Layout = null;
}
@model Testimonial

<form asp-controller="Create" asp-action="Testimonial" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <input type="file" id="file" name="file" />
    </div>
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input type="text" class="form-control" asp-for="Name" placeholder="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Date">Date</label>
        <textarea class="form-control" asp-for="Date"></textarea>
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Text">ShortDescription</label>
        <textarea class="form-control" asp-for="Text" rows="5"></textarea>
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>
    <button type="submit">Submit Form</button>
</form>

@if (Model != null)
{
    <h1>@Model.Name</h1>
    <h1>@Model.Date</h1>
    <h1>@Model.Text</h1>
    <img src="@ViewBag.ImageDataURL" />
}
